@import 'variables';


.search-form{
    padding: 10px;
    background-color: rgba($color: #ccc, $alpha: 1.0);
    color:  $red-color;
}
.card-coure-item{
    margin-top: 16px;
}
.select-check{
    margin: 0px 8px;
}
